@import url('https://fonts.googleapis.com/css?family=Hammersmith+One');

body {
  font-family: 'Roboto', sans-serif;
}

.logo {
  color: #88F5DF;
  font-family: 'Hammersmith One', sans-serif;
  font-weight: 300;
  font-size: 5em;
  font-weight: 800;
  margin-bottom: .25em;
}

.image-container {
  height: 100vh;
  background-image: url('../images/nolimits.jpg');
  background-size: cover;
}

button,
a {
  /* background-color: #1f7e6d; */
  /* background-color: #F3A1F7; */
  background-color: #88F5DF;
  border: none;
  border-radius: 7px;
  color: #222;
  font-size: 1em;
  font-weight: bold;
  padding: 1em 2em 1em 2em;
  margin-top: 10px;
  text-transform: uppercase;
  text-decoration: none;
  width: 250px;
}

button:hover {
  cursor: pointer;
}